
/* Third Party */
@use 'third-party/normalize.scss';
@use 'third-party/prisma-theme.scss';

/* Global */
@use 'global/variables.scss';
@use 'global/base-styles.scss';
@use 'global/utilites.scss';

/* Layout */
@use 'layouts/home.scss';
@use 'layouts/blog.scss';
@use 'layouts/contact.scss';
@use 'layouts/projects.scss';

/* Components */
@use 'components/site-header.scss';
@use 'components/site-footer.scss';
@use 'components/drawer.scss';

/* Fonts */

@font-face {
    font-family: 'antarctica';
    src: url('./fonts/antarctica.woff2') format('woff2'), /* Super Modern Browsers */
         url('./fonts/antarctica.ttf')  format('truetype');
         font-display:auto;font-style:normal;font-stretch:normal; /* Safari, Android, iOS */
  }
  @font-face {
    font-family: 'pangea';
    src: url('./fonts/pangea.woff2') format('woff2'), /* Super Modern Browsers */
         url('./fonts/pangea.ttf')  format('truetype');
         font-display:auto;font-style:normal;font-stretch:normal; /* Safari, Android, iOS */
  }


  @font-face {
     font-family: 'Antarctica Beta VAR';
     src: url('./fonts/AntarcticaBetaVAR-Regular.eot');
     src: url('./fonts/AntarcticaBetaVAR-Regular.eot?#iefix') format('embedded-opentype'),
         url('./fonts/AntarcticaBetaVAR-Regular.woff2') format('woff2'),
         url('./fonts/AntarcticaBetaVAR-Regular.woff') format('woff'),
         url('./fonts/AntarcticaBetaVAR-Regular.ttf') format('truetype'),
         url('./fonts/AntarcticaBetaVAR-Regular.svg#AntarcticaBetaVAR-Regular') format('svg');
     font-weight: normal;
     font-style: normal;
     font-display: swap;
 }
 
 @font-face {
     font-family: 'Antarctica Beta VAR';
     src: url('./fonts/AntarcticaBetaVAR-Regular_1.eot');
     src: url('./fonts/AntarcticaBetaVAR-Regular_1.eot?#iefix') format('embedded-opentype'),
         url('./fonts/AntarcticaBetaVAR-Regular_1.woff2') format('woff2'),
         url('./fonts/AntarcticaBetaVAR-Regular_1.woff') format('woff'),
         url('./fonts/AntarcticaBetaVAR-Regular_1.ttf') format('truetype'),
         url('./fonts/AntarcticaBetaVAR-Regular_1.svg#AntarcticaBetaVAR-Regular') format('svg');
     font-weight: normal;
     font-style: normal;
     font-display: swap;
 }
 
 @font-face {
     font-family: 'Pangea VAR 2.000';
     src: url('PangeaVAR2000.eot');
     src: url('PangeaVAR2000.eot?#iefix') format('embedded-opentype'),
         url('PangeaVAR2000.woff2') format('woff2'),
         url('PangeaVAR2000.woff') format('woff'),
         url('PangeaVAR2000.ttf') format('truetype'),
         url('PangeaVAR2000.svg#PangeaVAR2.000') format('svg');
     font-weight: 300;
     font-style: normal;
     font-display: swap;
 }


 @font-face {
    font-display:auto;
    font-family:'Antarctica Beta VAR';
    font-stretch:normal;
    font-style:normal;
    src:url(https://optic2000-kids.com/assets/fonts/antarctica.woff2) format("woff2"),
    url(https://optic2000-kids.com/assets/fonts/antarctica.ttf) format("truetype")
  }
  @font-face {
    font-display:auto;
    font-family:'Pangea VAR 2.000';
    font-stretch:normal;
    font-style:normal;
    src:url(https://optic2000-kids.com/assets/fonts/pangea.woff2) format("woff2"),
    url(https://optic2000-kids.com/assets/fonts/pangea.ttf) format("truetype")
  }
  