---
layout: 'base.njk'
section: page
---
<script>
  /**
 * @license
 * Copyright 2019 Google LLC. All Rights Reserved.
 * SPDX-License-Identifier: Apache-2.0
 */
async function initMap() {
  // Request needed libraries.
  const { Map, InfoWindow } = await google.maps.importLibrary("maps");
  const { AdvancedMarkerElement, PinElement } = await google.maps.importLibrary(
    "marker",
  );

  
  const map = new Map(document.getElementById("map"), {
    zoom: 10,
    center: { lat: 46.244751, lng: -0.793403 },
    mapId: "4504f8b37365c3d0",
  });
  // Set LatLng and title text for the markers. The first marker (Boynton Pass)
  // receives the initial focus when tab is pressed. Use arrow keys to
  // move between markers; press tab again to cycle through the map controls.
  const tourStops = [
    {
      position: { lat: 46.303705, lng: -0.487333 },
      title: "<b>Audio 2000 Bessines</b><br><br>21 Route de la Rochelle<br>79000 Bessines",
    },
    {
      position: { lat: 46.18519, lng: -1.118828 },
      title: "<b>Audio 2000 Puilboreau</b><br><br>Galerie Centre Commercial Hyper U<br>17138 Puilboreau",
    },
    {
      position: { lat: 46.110375, lng: -0.741489 },
      title: "<b>Audio 2000 Surgères</b><br><br>Centre commercial Leclerc,<br>Rue Jean-Philippe Rameau<br>17700 Surgères",
    },
    {
      position: { lat: 46.160558, lng: -1.150342 },
      title: "<b>Audio 2000 La Rochelle</b><br><br>33 Bis Rue des Mercier<br>17000 La Rochelle",
    },
    {
      position: { lat: 46.33805, lng: -0.409736 },
      title: "<b>Audio 2000 Niort</b><br><br>Centre Commercial LECLERC,<br>580 Avenue de Paris<br>79000 Niort",
    },
  ];
  // Create an info window to share between markers.
  const infoWindow = new InfoWindow();

  // Create the markers.
  tourStops.forEach(({ position, title }, i) => {
    const pin = new PinElement({
      glyph: `${i + 1}`,
    });
    const marker = new AdvancedMarkerElement({
      position,
      map,
      title: `${title}`,
      content: pin.element,
    });

    // Add a click listener for each marker, and set up the info window.
    marker.addListener("click", ({ domEvent, latLng }) => {
      const { target } = domEvent;

      infoWindow.close();
      infoWindow.setContent(marker.title);
      infoWindow.open(marker.map, marker);
    });
  });
}

initMap();

  </script>
<header class="page-container">
  <div class="col">
    <p style="color:#FFF">
  Bessines | La Rochelle | Niort <br>
  Puilboreau | Surgères
    </p>
    </div>
  <div class="col">
    {{ global.logo | svg | safe }}
  </div>
  <div class="col">
    <a href="#foot" style="text-transform:uppercase;font-size: 1em;"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> prendre rendez-vous en centre</a>
  </div>
</header>
<section class="intro page-container">
  
      
     <div class="col-intro top">
     {% image
        "src/assets/img/slide-01.png",
        "",
        "(min-width: 1024px) 50vw, 100vw",
        "",
        "eager"
      %}
    </div>
        <div class="col-intro">
{% image
        "src/assets/img/logo-audio-big.png",
        "",
        "(min-width: 1024px) 50vw, 100vw",
        "",
        "eager"
      %}
        </div>
      <div class="col-intro">
     {% image
        "src/assets/img/pourtous.png",
        "",
        "(min-width: 1024px) 50vw, 100vw",
        "",
        "eager"
      %}
</div>
      <div class="col-intro">

     {% image
        "src/assets/img/100sante_1.png",
        "",
        "(min-width: 1024px) 50vw, 100vw",
        "",
        "eager"
      %}
</div>

</section>
<section class="page-container arg" style="margin-top: 4vh;">
  <div class="date"><span>Vous avez un doute sur votre audition ?</span><br>
Ça ne coûte rien de vérifier… Votre audioprothésiste AUDIO 2000 vous propose un bilan auditif gratuit et sans engagement pour faire une première évaluation de votre audition. ⁽¹⁾
<br><br>
<span>Du 01 janvier au 29 Février 2024 ⁽²⁾</span>
</div>
</section>
<section class="page-container redac">
<div class="cols">
  <div class="col" style="font-size: 1.5em;">
<p>
  Vos appels téléphoniques sont de plus en plus difficiles ?<br><br>
  Le volume de la télévision ou de la radio vous semble souvent insuffisant ?<br>
</p>
  </div>
  <div class="col argu">
         {% image
        "src/assets/img/arg-2.png",
        "",
        "(min-width: 1024px) 50vw, 100vw",
        "",
        "eager"
      %}
  
  </div>
</div>

</section>
<footer class="page-container" style="margin-top: 11.5vh;" >
   
<h2 style="font-size:1.25em;margin-top: 1.5em;margin-bottom: 1em" id="foot">Vos centres AUDIO 2000 et vos audioprothésistes<br>sont prêts à vous accueillir pour un rendez-vous audition</h2>
<div class="col">
  <div id="map"></div>
</div>
<div class="col" style="
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
">
<p>
  <b>Audio 2000 Bessines</b><br>21 Route de la Rochelle<br>79000 Bessines<br>05 49 06 14 37<br><br>
  <b>Audio 2000 Puilboreau</b><br>Galerie Centre Commercial Hyper U<br>17138 Puilboreau<br>05 46 35 17 44<br><br>
  <b>Audio 2000 Surgères</b><br>Centre commercial Leclerc,<br>Rue Jean-Philippe Rameau<br>17700 Surgères<br>05 46 29 90 87<br><br>
  <b>Audio 2000 La Rochelle</b><br>33 Bis Rue des Mercier<br>17000 La Rochelle<br>05 46 41 39 10<br><br>
  <b>Audio 2000 Niort</b><br>Centre Commercial LECLERC,<br>580 Avenue de Paris<br>79000 Niort<br>05 49 08 28 38<br><br>

</p>
  
  <a href="tel:+33000000000"><i class="fa fa-phone" aria-hidden="true"></i>&nbsp;Appeler mon Audioprothésiste</a>
  
  
</div>
<p class="legal">
 <b>Mentions légales</b> :<br>
(1)  L’offre 100% Santé s’adresse à toutes les personnes disposant d’une complémentaire santé responsable et résulte d’une obligation légale. (2) Du 01/01/2024 au 29/02/2024, bénéficiez d’un bilan auditif à but non médical et sans engagement réalisé par un audioprothésiste dans votre centre AUDIO 2000. Ce bilan comprend une otoscopie, un test tonal et un test vocal. La délivrance des aides auditives est soumise à prescription médicale. Dispositif médical CE. Demandez conseil à votre audioprothésiste. Janvier 2023. SIREN 421 314 402 – RCS Nanterre.
</p>
<div class="logo-bot">
    {{ global.logo | svg | safe }}
  </div>
</footer>

</div>



<style>
  #map {
  height: 80vh;
}
.gm-style-iw-d{color:#000}
</style>