---
layout: 'base.njk'
section: page
---

<header class="page-container">
  <div class="col">
    {{ global.logo | svg | safe }}
  </div>
  <div class="col">
    <a href="#foot" style="text-transform:uppercase;font-size: 1em;"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> prendre rendez-vous en centre</a>
  </div>
</header>
<section class="intro page-container">

      
     <div class="col-intro top">
     {% image
        "src/assets/img/slide-01.png",
        "",
        "(min-width: 1024px) 50vw, 100vw",
        "",
        "eager"
      %}
    </div>
        <div class="col-intro">
{% image
        "src/assets/img/logo-audio-big.png",
        "",
        "(min-width: 1024px) 50vw, 100vw",
        "",
        "eager"
      %}
        </div>
      <div class="col-intro">
     {% image
        "src/assets/img/pourtous.png",
        "",
        "(min-width: 1024px) 50vw, 100vw",
        "",
        "eager"
      %}
</div>
      <div class="col-intro">

     {% image
        "src/assets/img/100sante_1.png",
        "",
        "(min-width: 1024px) 50vw, 100vw",
        "",
        "eager"
      %}
</div>

</section>
<section class="page-container arg" style="margin-top: 4vh;">
  <div class="date"><span>Vous avez un doute sur votre audition ?</span><br>
Ça ne coûte rien de vérifier… Votre audioprothésiste AUDIO 2000 vous propose un bilan auditif gratuit et sans engagement pour faire une première évaluation de votre audition.
</div>
</section>
<section class="page-container redac">
<div class="cols">
  <div class="col">
<p>
  Vos appels téléphoniques sont de plus en plus difficiles ? Le volume de la télévision ou de la radio vous semble souvent insuffisant ?

Un bilan auditif gratuit en centre AUDIO 2000 peut vous êtes proposé pour faire un point rapide sur votre audition.

</p>
  </div>
  <div class="col argu">
         {% image
        "src/assets/img/arg-2.png",
        "",
        "(min-width: 1024px) 50vw, 100vw",
        "",
        "eager"
      %}
  
  </div>
</div>

</section>
<footer class="page-container" style="margin-top: 11.5vh;" id="foot">
   
<h2 style="font-size:1.5em;margin-top: 1.5em;margin-bottom: 1em">Votre centre AUDIO 2000 et votre audioprothésiste<br>sont prêts à vous accueillir pour un rendez-vous audition :</h2>
<div class="col">
  <div id="map"></div>
</div>
<div class="col" style="
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
">
   {% image
        "src/assets/img/optic2000.svg",
        "",
        "(min-width: 1024px) 50vw, 100vw",
        "",
        "eager"
      %}

  
  <a href="tel:+33142587781"><i class="fa fa-phone" aria-hidden="true"></i>&nbsp;Appeler mon Audioprothésiste</a>
  
  
</div>
<p class="legal">
 <b>Mentions légales</b> :<br>
(1) Du 01/01/2024 au 29/02/2024, bénéficiez d'un bilan auditif à but non médical et sans engagement réalisé par un audioprothésiste dans votre centre AUDIO 2000. Ce bilan comprend une otoscopie, un test tonal et un test vocal. (2) Essai gratuit, sur présentation d’une prescription médicale, d’une durée minimale de 30 jours, sauf demande écrite du prescripteur, conformément à la loi. Essai sans engagement et moyennant le versement d’un dépôt de garantie, en application du devis remis. La délivrance des aides auditives est soumise à prescription médicale. Dispositif médical CE. Demandez conseil à votre audioprothésiste. Janvier 2023. SIREN 435 099 510 – RCS PARIS.
</p>
<div class="logo-bot">
    {{ global.logo | svg | safe }}
  </div>
</footer>

</div>



<style>
  #map {
  height: 80vh;
}
</style>