<footer class="site-footer">
  
<iframe
  width="50%"
  height="250"
  frameborder="0" style="border:0"
  referrerpolicy="no-referrer-when-downgrade"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBdVQaBYO6pxNGtZaCdShUFmPBvMoSK0EU&q=Optic+2000+{{ pdv.adresse }}+{{ pdv.cp }}+{{ pdv.ville }}"
  allowfullscreen>
</iframe>
</footer>
